html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

:root {
    /*Values*/
    --v-radius-table: 1.5rem;
    /* Colors*/
    --c-primary:#f7931a;
    --c-primary-soft: #FFE9D4;
    --c-secondary: #1A9AF7;
    --c-secondary-soft: #E7F5FF;
    --c-warm-dark:#201E1C;
    --c-dark: #282623;
    --c-grey: #bababa;
    --c-grey-2: #757575;
    --c-off-white: #faf8f7;
    --c-just-white: #fff;
}


/* Header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 280px;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(232deg, var(--c-warm-dark), var(--c-primary));
    background-size: 400% 400%;
    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header__image-container {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
}

.header__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 23rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--c-just-white);
}

.header__title-container p{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
    color: var(--c-primary-soft);
}

.header__title-container .header__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    height: 4.8rem;
    width: 23rem;
    background-color: var(--c-off-white);
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--c-warm-dark);
}

.header__button span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    background-image: url("https://raw.githubusercontent.com/degranda/batata-bit/955b37d9972123343010b48911a0cb29dc3b4d05/assets/icons/down-arrow.svg");
}


/* Main*/

main {
    width: 100%;
    height: auto;
}

/* Exchange section*/

.main__exchange-container {
    width: 100%;
    height: auto;
    padding: 4rem 0;
    text-align: center;
    background-color: var(--c-off-white);
}

.main__exchange-container .exchange-background{
    width: 20rem;
    height: 20rem;
    margin: 0 auto 4rem;
    background-image: url("https://bnz07pap001files.storage.live.com/y4mB9-l1VtZsJr8Zm5PGlVCmhvEa4tkf0B-d0_YzvxfVKzlBR0rPthL7Fc_AmzTSXeuUt0E3IM1NWA-Yy2jgn5FIVsLQAdHWJMKMfJvS3o8BNwf9ILNdOxn7zpP8nrKrsVwbeC7RpZglphtnAThwiqc7mnQVa1Q98iCoAh6_TduETwjLIxO1WRWnRzZHPhc2ETL?width=503&height=503&cropmode=none");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__exchange-title {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
    margin-bottom: 4.8rem;
}

.main__exchange-title h2{
    margin-bottom: 2.4rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--c-warm-dark);
}

.main__exchange-title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--c-grey-2);
}

/* Exchange tables*/

.main__exchange-tables {
    width: 70%;
    margin: 0 auto;
}

.main__exchange-currency {
    height: 36rem;
    min-width: 190px;
    max-width: 500px;
}

.main__exchange-currency-title, .main__exchange-comissions-title {
    margin-bottom: 1.2rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.344rem;
    color: var(--c-primary);
}

.main__exchange-comissions-title{
    color: var(--c-secondary);
}

.main__exchange-table-container {
    width: 90%;
    height: 25rem;
    min-width: 190px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1.6rem; 
}

.main__exchange-table-container table{
    width: 100%;
    height: 100%;
}

.main__exchange-table-container table td{
    width: 50%;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.936rem;
    color: #B5B0AC;
    background-color: var(--c-just-white);
}
    /*Radius border table*/
.main__exchange-table-data--top-left {
    border-top-left-radius: var(--v-radius-table);
}

.main__exchange-table-data--bottom-left {
    border-bottom-left-radius: var(--v-radius-table);
}

.main__exchange-table-data--top-right {
    border-top-right-radius: var(--v-radius-table);
}

.main__exchange-table-data--bottom-right {
    border-bottom-right-radius: var(--v-radius-table);
}

.main__exchange-update-currency, .main__exchange-update-comissions {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.936rem;
    color: var(--c-warm-dark);
    background-color: var(--c-primary-soft);
}

.main__exchange-update-comissions {
    background-color: var(--c-secondary-soft);
}