.main__exchange-tables {
    justify-content: center;
    flex-direction: row;
}

.main__benefits__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 970px;
}

.main__plans__slider {
    justify-content: center;
}

